@theme {
  --color-transparent: transparent;
  --color-current: currentColor;
  --color-black: #000000;
  --color-white: #ffffff;

  --color-gray-50: #8a8a8a;
  --color-gray-100: #373737;
  --color-gray-200: #2c2c2c;
  --color-gray-300: #212121;
  --color-gray-400: #161616;
}

/* Font utilities */
.font-lato {
  font-family: var(--font-lato);
}

.font-bitcount {
  font-family: var(--font-bitcount);
}

/* Font weight utilities for Lato */
.font-thin {
  font-weight: 100;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-bold {
  font-weight: 700;
}

.font-black {
  font-weight: 900;
}
